{{#if this.profileNote}}
  <div class="public-user-field profile-note">
    <span class="user-field-name">Profile Note</span>:
    <span class="user-field-value">{{this.profileNote}}</span>
  </div>
{{/if}}
