{{! This connector displays the Profile Note custom user field above the user summary stats }}

{{#if @outletArgs.user.public_user_fields.5}}
  <div class="profile-note-summary-stat">
    <span class="user-field-name">Profile Note:</span>
    <span class="user-field-value">
      {{@outletArgs.user.public_user_fields.5}}
    </span>
  </div>
{{/if}}
