{{#if model.user_fields.[5]}}
  <div class="public-user-field profile-note">
    <span class="user-field-name">Profile Note</span>:
    <span class="user-field-value">{{model.user_fields.[5]}}</span>
  </div>
{{/if}}
