{{#each-in @outletArgs.user.public_user_fields as |fieldId fieldValue|}}
  {{#if (eq (lowercase @outletArgs.user.user_fields.[fieldId]) "profile note")}}
    <div class="profile-note-summary-stat">
      <span class="user-field-name">Profile Note:</span>
      <span class="user-field-value">
        {{fieldValue}}
      </span>
    </div>
  {{/if}}
{{/each-in}}
